@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@layer utilities {
  .peer\/menu:checked + div #line {
    @apply rotate-45 translate-y-1.5;
  }

  .peer\/menu:checked + div #line2 {
    @apply -rotate-45 -translate-y-1;
  }
}
